_build.*
.cache
.pytest_cache
.coverage
*.dylib
*.o
*.so
*.os
*.pyc
*~
*.swp
core.*
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/xml
doc/doxygen.conf
python/lsst/meas/base/version.py
pytest_session.txt
tests/.tests
tests/.cache
tests/*.log
ups/*.cfgc
bin/forcedPhotCcd.py
bin/forcedPhotCoadd.py
python/*.dist-info/
