_build.*
.cache
*.dylib
*.o
*.so
*.os
*.pyc
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/xml
doc/doxygen.conf
python/lsst/meas/base/version.py
python/lsst/meas/base/*.pyc
tests/.tests
tests/.cache
ups/*.cfgc
bin/forcedPhotCcd.py
bin/forcedPhotCoadd.py
